{% extends "base.html" %}

{% block content %}
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>TODO list</h1>
    <a class="btn btn-primary" href="{% url "tasks:tasks-create" %}">Add task</a>
</div>
  {% if task_list %}
    {% for task in task_list %}
      <p>
        {{ task.content }} {% if task.is_done == True %} Done {% else %} Not done {% endif %}
      </p>
      <p>
        Created: {{ task.datetime }} {% if task.deadline %} Deadline: {{ task.deadline }} {% endif %}
      </p>
      <p>
        Tags:
        {% for tag in task.tags.all %}
          {{ tag.name }}
        {% endfor %}
        <a href="{% url "tasks:tasks-update" pk=task.id %}">Update</a>
        <a href="#">Delete</a>
      </p>
    {% endfor %}
  {% else %}
    <p>You don't have any tasks to do</p>
  {% endif %}

{% endblock %}